    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        * { font-family: sans-serif; }
        .code { font-family: monospace; }
    </style>
    <style type="text/css">
        tr.odd td {
            background: #efefef;
        }
        td {
            font-size: 14px;
            padding: 4px;
            vertical-align: top;
        }
            td p {
                margin: 0;
                padding: 0;
            }
    </style>