    <div class="main-nav" role="navigation">
        <p class="show-mobile-nav"><a href="#">Menu<!--&#8964;--></a></p>
        <ul>
            <li><a href="{{ site.baseurl }}/"{% if page.active == 'home'%} class="active"{% endif %}>Home</a></li>
            <li><a href="{{ site.baseurl }}/scorecard/"{% if page.active == 'scorecard'%} class="active"{% endif %}>DH Project Scorecard</a></li>
            <li><a href="{{ site.baseurl }}/web-accessibility-standards/"{% if page.active == 'web-accessibility-standards'%} class="active"{% endif %}>Web Accessibility Standards</a></li>
            <li><a href="{{ site.baseurl }}/resources/"{% if page.active == 'resources'%} class="active"{% endif %}>Resources</a></li>
            <li><a href="{{ site.baseurl }}/contact-us/"{% if page.active == 'contact-us'%} class="active"{% endif %}>Contact Us</a></li>
        </ul>
    </div>
