<form action="http://mailtools.dispatchwire.com/t/r/s/kljutry/" method="post" id="subForm">
    <p>
        <label for="fieldName">Name</label><br />
        <input id="fieldName" name="cm-name" type="text" required />
    </p>
    <p>
        <label for="fieldEmail">Email</label><br />
        <input id="fieldEmail" name="cm-kljutry-kljutry" type="email" required />
    </p>
    <p>
        <label for="fieldtlthkijh">Project name</label><br />
        <input id="fieldtlthkijh" name="cm-f-tlthkijh" type="text" />
    </p>
    <p>
        <label for="fieldtlthkdlu">Project URL</label><br />
        <input id="fieldtlthkdlu" name="cm-f-tlthkdlu" type="text" placeholder="http://somedhproject.org" required />
    </p>
    <p>
        <label for="fieldtlthkho">Message</label><br />
        <textarea id="fieldtlthkho" name="cm-f-tlthkho" type="text"></textarea>
    </p>
    <p>
        <button type="submit">Submit Project</button>
    </p>
</form>
