<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>
<div class="outer">
    {% include brand-bar.html %}
    {% include main-nav.html %}
    {% include header-img.html %}
    <div class="wrapper content-wrapper">

        <h1>{{ page.title }}</h1>

        {{ content }}

    <ul>
        <li><a href="{{ site.baseurl }}/projects">Digital Humanities Projects Scorecard</a></li>
        <li><a href="{{ site.baseurl }}/accessibility-standards">Web Accessibility Standards</a></li>
        <li><a href="{{ site.baseurl }}/nfb-criteria">NFB Criteria</a></li>
    </ul>

    <h3>Tags</h3>

{% include tag-cloud.html %}

        <p>Last built: {{site.time}}</p>
    </div>
</div>
{% include footer.html %}
</body>
</html>