<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>
<div class="outer">
    {% include brand-bar.html %}
    {% include main-nav.html %}
    {% include header-img.html %}
    <div class="wrapper content-wrapper">

        <h1>{{ page.title }}</h1>

        <p><a href="{{ site.baseurl }}/nfb-criteria">All NFB Criteria</a></p>

        {{ content }}

        {% comment %}
        <p>Last built: {{site.time}}</p>
        {% endcomment %}
    </div>
</div>
{% include footer.html %}
</body>
</html>
