<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>
<div class="outer">
    {% include brand-bar.html %}
    {% include main-nav.html %}
    {% include header-img.html %}
    <div class="wrapper content-wrapper">

        <h1>{{ page.title }}</h1>

        {{ content }}

{% for criterion in site.categories.nfb-criteria %}
        <h3>{{ criterion.title }}</h3>
        {{ criterion.content }}
{% endfor %}

        {% comment %}
        <p>Last built: {{site.time}}</p>
        {% endcomment %}
    </div>
</div>
{% include footer.html %}
</body>
</html>
