<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>
<div class="outer">
    {% include brand-bar.html %}
    {% include main-nav.html %}
    {% include header-img.html %}
    <h1>{{ page.title }}</h1>
    <div class="wrapper content-wrapper">

        {{ content }}

        <h2>Resource List</h2>
{% for resource in site.categories.resources %}
        <p><strong><a href="{{ resource.link }}">{{ resource.title }}</a></strong><br />{{ resource.blurb }}</p>
{% endfor %}

        <div class="lastBuilt">{{site.time}}</div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
